* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: rgb(31, 4, 4);
}

.app-header {
  display: flex;
  background-color: #131a28;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.span {
  color: red;
  font-size: 30px;
}

.main_container {
  margin-top: 20px;
  border: 5px solid rgb(27, 27, 161);
  padding: 25px 50px;
  border-radius: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.square {
  min-width: 100px;
  min-height: 100px;
  font-size: 50px;
  text-align: center;
  color: #1cdbf5;
  font-weight: bolder;
  padding: 30px;
}

.br_bb {
  border-right: 5px solid blue;
  border-bottom: 5px solid blue;
}

.bb {
  border-bottom: 5px solid blue;
}

.br {
  border-right: 5px solid blue;
}

.btn{
  margin-top: 25px;
  border-radius: 25px;
  background-color: #1cdbf5;
  width: 150px;
  height:35px;
  font-size: 20px;
}
